.title {
  text-align: center;
  color: rgba(22, 103, 144, 0.333);
  padding-bottom: 10px;
}

.btn {
  display: block;
  border: 0px;
  border-radius: 4px;
  padding: 8px auto;
  margin: 20px auto;
  width: 150px;
  text-align: center;
  background-color: aqua;
}
